<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
</head>

<body>
    <h1>User List</h1>
    <form action="/users" method="get">
        <input type="text" name="filtro" th:value="${filtro}" />
        <button type="submit">Buscar</button>
    </form>
    <a th:href="@{/users/new}">Nuevo usuario</a>
    <table>
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.dni}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}">
                        <button>
                         <i class="fa-solid fa-pen-to-square"></i></span> Editar
                        </button>
                    </a>
                </td>

                <td>
                    <form th:action="@{/users/deletePost}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <button type="submit"> <i class="fa-solid fa-trash-can"></i>Eliminar</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</body>

</html>